.list-villain{
  background-color: #6699FF;
  width: 80px;
  height: 30px;
  font-size: 11px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.list-villain:hover{
  width: 81px;
  height: 31px;
  font-size: 12px;
  background-color: #0000BB;
  color: white;
}
.selected{
  color: snow;
  background-color: #0000BB;
}
.id{
  margin-right: 5px;
  text-align: left;
  float: left;
}
.name{
  font-family: courier;
}
.villains{
  width: 15%;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}
.list-detail{
  width: 75%;
  margin-left: 10px;
  margin-right: 10px;
  float: right;
}
