.list-hero{
  background-color: #FF99CC;
  width: 100px;
  height: 40px;
  font-size: 11px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.list-hero:hover{
  width: 101px;
  height: 41px;
  font-size: 12px;
  background-color: #FF3333;
  color: white;
}
.selected{
  color: snow;
  background-color: #FF3333;
}
.id{
  margin-right: 5px;
  text-align: left;
  float: left;
}
.name{
  font-family: courier;
}
.heroes{
  width: 15%;
  margin: 10px;
  float: left;
}
.list-detail{
  width: 75%;
  margin: 10px;
  float: right;
}
