<div *ngIf="hero">
  <h1 align="center">
    This is me :
  </h1>
  <div>
    <h1 align="center">
      My name is :	<span style="color: #FF3366;">{{hero.name}}</span>
    </h1>
    <h2 align="center">
      <p style="color: #FF0066;">I'm so cute!</p>
      My skill are:
      <span *ngFor="let skill of hero.skills">
		<span style="color: #FF3366; margin-left: 10px;">{{skill}}</span>
	</span>
    </h2>
  </div>

  <p align="center">
    Hero name: <input type="text" [(ngModel)]="hero.name">
  </p>
</div>


